.container {
  display: grid;
  place-items: center;
  margin-top: 2rem;
}



.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown__content {
margin-top: 12px;  
  min-width: 230px;
  overflow: auto;
  border: 1px solid #ddd;
  z-index: 1;
}

.dropdown__content input {
  width: 100%;
}
.dropdown__content p {
  cursor: pointer;
}
.dropdown__content p:hover {
  background-color: rgb(184, 184, 184);
}